@import './../utils/scss/_sizes';
@import './../utils/scss/_colors';

.mainFooter {
    height: $mainFooterHeight;
    line-height: $mainFooterHeight;
    padding: 0 $standardSpace * 5;
    @include colorsPLight;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1999;
}